<tr>
    <td>
        <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1"
                name="options[]" value="1">
            <label for="checkbox1"></label>
        </span>
    </td>
 
    <td><%= entrie.name %></td>
    <td><%= entrie.email %></td>
    <td><%= entrie.address %></td>
    <td><%= entrie.phone %></td>
    <td>
        <a href="#editEmployeeModal" class="edit" onclick="SetForm('<%= JSON.stringify(entrie) %>',this)"
            data-toggle="modal"><i
                class="material-icons"
                data-toggle="tooltip" title="Edit">&#xE254;</i></a>
        <a href="#deleteEmployeeModal"
            class="delete" data-toggle="modal">
            <i
            id="deleteIcon"
            _id="<%= entrie._id %>"
                class="material-icons"
                data-toggle="tooltip"
                title="Delete">&#xE872;</i></a>

    </td>
</tr>